p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  font-family: Roboto, Arial;
  margin: 0;
  line-height: 1.5;
  background-color: rgb(248, 248, 248);
}
.youtube-exercise {
  padding-left: 72px;
  padding-top: 57px;
}
.footer {
  height: 200px;
}
img {
  vertical-align: middle;
}